/* =============================================================== */
/* Navbar */
/* =============================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1a2639;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3e4a61;
    align-items: center;
    z-index: 800;
}

.brand {
    font-family: 'Silkscreen', cursive;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 2.25rem;
    display: inline;
    vertical-align: sub;
    text-align: center;
    margin: auto;
}

.brand span {
    color: white;
    display: inline;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-left: 5px;
}

.links-container {
    display: flex;
    list-style: none;
}

.link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 1.2vw;
    position: relative;
}

.link:hover:not(.active) {
    opacity: 0.7;
    background: #3e4a61;
}

/* =============================================================== */
/* Desktops Responsive */
/* =============================================================== */
@media screen and (max-width: 1200px) {
    .link {
        padding: 15px 0.9vw;
    }
}

/* =============================================================== */
/* Tablets Responsive */
/* =============================================================== */
@media screen and (max-width: 1024px) {
    .toggle-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
    }

    .toggle-btn span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 30%;
        transition: .5s;
    }

    .toggle-btn span:nth-child(2) {
        top: 70%;
    }

    .toggle-btn.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .links-container {
        position: absolute;
        top: 80px;
        background: #1a2639;
        width: 100%;
        left: 0;
        padding: 2vh 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
        border-bottom: 1px solid #3e4a61;
    }

    .links-container.show {
        opacity: 1;
        pointer-events: all;
    }

    .link {
        margin-left: auto;
        text-align: center;
        display: block;
        height: 55px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .toggle-btn {
        width: 30px;
        height: 30px;
    }
}