/* =============================================================== */
/* Home section */
/* =============================================================== */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    min-height: calc(95vh - 80px);
    height: auto;
    margin-top: 80px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.hero-content {
    width: 50%;
}

.hero-heading {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3rem;
    font-weight: 500;
}

.profession {
    font-size: 1rem;
    width: fit-content;
    display: block;
    margin: 15px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #1d1d1d;
    z-index: 2;
}

.profession::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    z-index: -1;
    transform: skewX(10deg);
}

.profession::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: #e3e3e3;
}

.info {
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 55px;
}

.contact-btns {
    display: flex;
    align-items: center;
}

.btn.fa {
    padding: 18px;
    width: calc(1.3rem + 36px);
    text-align: center;
    border-radius: 0;
}

.btn.left-sided {
    border-radius: 50px 0 0 50px;
}

.btn.right-sided {
    width: calc(1.3rem + 1.5*36px);
    border-radius: 0 50px 50px 0;
}

.fa.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa.fa-github {
    background: white;
    color: black;
}

/* =============================================================== */
/* Animation */
/* =============================================================== */
.typing-wrapper {
    display: inline-flex;
}

.typing {
    width: 1%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;

    animation: type 4s steps(20) 1s forwards,
        blink .5s step-end infinite alternate;
}

.info {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeIn calc(4s) ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes type {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* =============================================================== */
/* Latge Desktops Responsive */
/* =============================================================== */
@media screen and (min-width: 1400px) {
    .home img {
        width: 35%;
    }
}

/* =============================================================== */
/* Tablets Responsive */
/* =============================================================== */
@media screen and (max-width: 1024px) {
    .home {
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 50px;
        padding-top: 15px;
    }

    .home img {
        margin-top: 25px;
        margin-bottom: 15px;
        width: 70%;
    }

    .hero-content {
        width: 90%;
        min-width: 350px;
        text-align: center;
    }

    .hero-heading {
        font-size: 3rem;
        text-align: center;
    }

    .profession {
        margin: 15px auto 20px;
    }

    .profession::after {
        content: "";
        display: none;
    }

    #contact-btns {
        justify-content: center;
    }
}

/* =============================================================== */
/* Small Mobile Responsive */
/* =============================================================== */
@media screen and (max-width: 576px) {
    .hero-heading {
        font-size: 2.25rem;
    }

    .home img {
        width: 65%;
    }

    .btn.fa {
        padding: 15px;
        width: calc(1.5rem + 30px);
    }

    .btn.right-sided {
        width: calc(1.5rem + 1.5*30px);
    }
}