/* =============================================================== */
/* Project section */
/* =============================================================== */
.project {
    /* position: relative; */
    width: 100%;
    height: auto;
    padding: 100px 10vw 0;
}

.filters {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px auto;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #3e4a61;
    text-transform: capitalize;
    margin: 0 5px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.filter-btn:hover {
    box-shadow: inset 0px 0px 0px 3px #174dbe;
}

.filter-btn.active {
    background: #174dbe;
    color: #fff;
}

.project-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.project-card {
    position: relative;
    cursor: pointer;
    display: block;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
}

.project-name {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.tags {
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    width: 90%;
}

.project-card:hover .content {
    opacity: 1;
}

.project-card.hide {
    display: none;
}

/* =============================================================== */
/* Tablets Responsive */
/* =============================================================== */
@media screen and (max-width: 1024px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* =============================================================== */
/* Small Mobile Responsive */
/* =============================================================== */
@media screen and (max-width: 576px) {
    .project-name {
        font-size: 3rem;
    }
}