/* =============================================================== */
/* Main */
/* =============================================================== */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Ubuntu&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    position: relative;
    background: #1a2639;
    color: #fff;
}

body,
input,
textarea,
button {
    font-family: 'Ubuntu', sans-serif;
}

/* =============================================================== */
/* Animation */
/* =============================================================== */
.typing-wrapper {
    display: inline-flex;
}

.typing {
    width: 1%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;

    animation: type 4s steps(20) 1s forwards,
        blink .5s step-end infinite alternate;
}

.info {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeIn calc(4s) ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes type {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.inverted-1 {
    --bg: black;

    --_g1: conic-gradient(from 90deg at 50% 75%, var(--bg) 90deg, #fff 0) no-repeat;
    --_g2: conic-gradient(from 90deg at 50% 75%, #0000 90deg, var(--bg) 0) no-repeat;
    background:
        var(--_g1) 0 calc(134% - var(--_p, 0%)),
        var(--_g2) 0 calc(134% - var(--_p, 0%)),
        var(--_g1) 100% calc(200% - var(--_p, 0%)),
        var(--_g2) 100% calc(200% - var(--_p, 0%)),
        #000;
    background-size: 50.2% 400%;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.8s
}

.inverted-1:hover {
    --_p: 134%;
}

.inverted-2 {
    --bg: black;

    background:
        conic-gradient(#fff 0 90deg, #fff0 0) bottom left,
        conic-gradient(var(--bg) 0 90deg, #fff0 0) bottom left,
        conic-gradient(from 90deg, #fff 0 90deg, #fff0 0) top left,
        conic-gradient(from 90deg, var(--bg) 0 90deg, #fff0 0) top left,
        conic-gradient(from 180deg, #fff 0 90deg, #fff0 0) top right,
        conic-gradient(from 180deg, var(--bg) 0 90deg, #fff0 0) top right,
        conic-gradient(from -90deg, #fff 0 90deg, #fff0 0) bottom right,
        conic-gradient(from -90deg, var(--bg)0 90deg, #fff0 0) bottom right,
        #000;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    background-size: 202% 202%;
    transition: 0.8s;
}

.inverted-2:hover {
    background-position: center;
}

.inverted-3 {
    --bg: black;

    background:
        linear-gradient(90deg, #000 50%, #fff 0),
        linear-gradient(-90deg, #000 50%, #fff 0),
        linear-gradient(90deg, #0000 50%, var(--bg) 0),
        linear-gradient(-90deg, #0000 50%, var(--bg) 0);
    background-repeat: no-repeat;
    background-size: 200% 51%;
    background-position: top left, bottom right;
    -webkit-background-clip: text, text, padding-box, padding-box;
    background-clip: text, text, padding-box, padding-box;
    transition: 0.8s
}

.inverted-3:hover {
    background-position: top right, bottom left;
}

/* =============================================================== */
/* Loader*/
/* =============================================================== */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    margin: -100px 0 0 -100px;
    height: 200px;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #3e4a61;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    left: 0;
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left,
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* =============================================================== */
/* Navbar */
/* =============================================================== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1a2639;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3e4a61;
    align-items: center;
    z-index: 10;
}

.brand {
    font-family: 'Silkscreen', cursive;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 2.25rem;
    display: inline;
    vertical-align: sub;
    text-align: center;
    margin: auto;
}

.brand span {
    color: white;
    display: inline;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-left: 5px;
}

.links-container {
    display: flex;
    list-style: none;
}

.link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 20px;
    position: relative;
}

.link:hover:not(.active) {
    opacity: 0.7;
    background: #3e4a61;
}

.link.active::before,
.seperator::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.link.active::after,
.seperator::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

/* =============================================================== */
/* Home section */
/* =============================================================== */
.home {
    width: 100%;
    min-height: calc(95vh - 80px);
    height: auto;
    margin-top: 80px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.hero-content {
    width: 50%;
}

.hero-heading {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3rem;
    font-weight: 500;
}

.highlight {
    color: #174dbe;
}

.profession {
    font-size: 1rem;
    width: fit-content;
    display: block;
    margin: 15px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #1d1d1d;
    z-index: 2;
}

.profession::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    z-index: -1;
    transform: skewX(10deg);
}

.profession::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: #e3e3e3;
}

.info {
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 55px;
}

/* Buttons */
div.btns {
    display: flex;
    align-items: center;
}

.btn {
    box-sizing: border-box;
    margin: 5px 0;
    height: calc(1.3rem + 36px);
    padding: 18px 25px;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 50px;
    background-size: 300% 100%;
    color: #fff;
    text-transform: capitalize;
    border: none;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, #174dbe, #2c2cc5, #3f64a8, #0010a4);

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.btn.fa {
    padding: 18px;
    width: calc(1.3rem + 36px);
    text-align: center;
    border-radius: 0;
}

.btn.left-sided {
    border-radius: 50px 0 0 50px;
}

.btn.right-sided {
    width: calc(1.3rem + 1.5*36px);
    border-radius: 0 50px 50px 0;
}

.fa.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa.fa-github {
    background: white;
    color: black;
}

.btn:hover,
.btn:active {
    opacity: 0.8;
    transform: translate(-2%, -2%);

    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}


/* =============================================================== */
/* Project section */
/* =============================================================== */
.project {
    position: relative;
    padding: 100px 10vw 0;
}

.filters {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px auto;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #3e4a61;
    text-transform: capitalize;
    margin: 0 5px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.filter-btn:hover {
    box-shadow: inset 0px 0px 0px 3px #174dbe;
}

.filter-btn.active {
    background: #174dbe;
    color: #fff;
}

.project-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.project-card {
    position: relative;
    cursor: pointer;
    display: block;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
}

.project-name {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.tags {
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    width: 90%;
}

.project-card:hover .content {
    opacity: 1;
}

.project-card.hide {
    display: none;
}

/* =============================================================== */
/* About section */
/* =============================================================== */
.about {
    width: 100%;
    height: auto;
    padding: 100px 10vw 0;
}

.heading {
    text-align: center;
    font-weight: 500;
    font-size: 2.7rem;
    text-transform: capitalize;
}

.sub-heading {
    text-align: center;
    font-size: 1.4rem;
    margin: 10px;
    opacity: 0.7;
}

.seperator {
    width: 25%;
    margin: 20px auto;
    position: relative;
}

.about-me-container {
    margin: 80px 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 50px;
    justify-content: center;
}

.left-col,
.right-col {
    position: relative;
}

.right-col a {
    position: absolute;
    bottom: 0;
}

.about-image {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    width: 75%;
}

.about-para {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 12vh;
}

/* =============================================================== */
/* Skills Section */
/* =============================================================== */
.skills {
    width: 100%;
    height: auto;
    padding: 100px 15vw 0;
}

.skill-container {
    position: relative;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.skill-card {
    height: 70px;
    /* border-radius: 10px; */
    border: 1px solid #c24d2c;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.skill {
    font-size: 1.3rem;
    color: #d9dad7;
    line-height: 70px;

    transition: color 0.3s linear;
}

.skill-card:hover .skill {
    color: white;
}

.skill-card.large {
    grid-column: 2 span;
}

.skill-card.xlarge {
    grid-column: 3 span;
}

.skill-card.xxlarge.title {
    grid-column: 5 span;
    background: linear-gradient(to right, var(--bg), var(--bg1), var(--bg2), var(--bg3), var(--bg4));
}

.skill-card.xxlarge.title .skill {
    color: #fff;
}

/* =============================================================== */
/* Contact Section */
/* =============================================================== */
.contact {
    width: 100%;
    height: auto;
    padding: 100px 15vw;
}

.contact-form {
    width: 100%;
    margin-top: 80px;
    position: relative;
}

.contact-form input,
.message {
    width: 100%;
    display: block;
    height: 65px;
    padding: 20px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 10px;
    resize: none;
    font-size: 1.2rem;
}

.message {
    height: 220px;
}

.contact-form .email {
    text-transform: none;
}

.contact-form .name {
    display: flex;
    justify-content: space-between;
}

.name .input-container {
    width: 49%;
    margin: 0;
}


.contact-form .btn {
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.contact-form .form-error {
    transition: all 0.25s linear;
    font-size: 1.1rem;
    color: #c24d2c;
    margin-bottom: 5px;
}

.hidden {
    visibility: hidden;
}

.visuallyhidden {
    opacity: 0;
}

/* =============================================================== */
/* Footer */
/* =============================================================== */
.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background: linear-gradient(270deg, #477ef4, #09389d);
    line-height: 30px;
}


/* =============================================================== */
/*                                                                 */
/*                                                                 */
/*                                                                 */
/* =============================================================== */


/* =============================================================== */
/* Latge Desktops Responsive */
/* =============================================================== */
@media screen and (min-width: 1400px) {
    html {
        font-size: 18px;
    }

    .home img {
        width: 35%;
    }

    .about-image {
        width: 65%;
    }
}

/* =============================================================== */
/* Desktops Responsive */
/* =============================================================== */
@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/* =============================================================== */
/* Tablets Responsive */
/* =============================================================== */
@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }

    .toggle-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
    }

    .toggle-btn span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 30%;
        transition: .5s;
    }

    .toggle-btn span:nth-child(2) {
        top: 70%;
    }

    .toggle-btn.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .toggle-btn.active span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .links-container {
        position: absolute;
        top: 80px;
        background: #1a2639;
        width: 100%;
        left: 0;
        padding: 2vh 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
        border-bottom: 1px solid #3e4a61;
    }

    .links-container.show {
        opacity: 1;
        pointer-events: all;
    }

    .link {
        margin-left: auto;
        text-align: center;
        display: block;
        height: 55px;
    }

    .home {
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 50px;
        padding-top: 15px;
    }

    .home img {
        margin-top: 25px;
        margin-bottom: 15px;
        width: 70%;
    }

    .hero-content {
        width: 90%;
        min-width: 350px;
        text-align: center;
    }

    .hero-heading {
        font-size: 3rem;
        text-align: center;
    }

    .profession {
        margin: 15px auto 20px;
    }

    .profession::after {
        content: "";
        display: none;
    }

    .about-me-container {
        grid-template-columns: 1fr;
    }

    .about-para {
        margin-bottom: 5vh;
    }

    .left-col {
        margin: auto;
        width: 50%;
        min-width: 320px;
    }

    .skill-container,
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-card {
        grid-column: 1 span !important;
    }

    .skill-card.xxlarge {
        grid-column: 2 span !important;
    }

    .right-col a {
        position: unset;
        bottom: none;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .about-para {
        text-align: center;
    }

    .about-image {
        width: 90%;
        margin: auto;
        display: block;
    }

    div.btns {
        justify-content: center;
    }
}

/* =============================================================== */
/* Mobile Responsive */
/* =============================================================== */
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

/* =============================================================== */
/* Mobile Responsive */
/* =============================================================== */
@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }

    p,
    .sub-heading,
    .about-para,
    .left-col::before,
    .tags {
        font-size: 1.2rem;
    }

    .hero-heading {
        font-size: 2.25rem;
    }

    .home img {
        width: 65%;
    }

    .skill-card {
        height: 50px;
    }

    .skill {
        font-size: 1rem;
        line-height: 50px;
    }

    .project-name {
        font-size: 3rem;
    }

    .name {
        flex-direction: column;
    }

    .name .input-container {
        width: 100%;
    }

    .btn {
        padding: 15px 20px;
        height: calc(1.5rem + 28px);
    }

    .btn.fa {
        padding: 15px;
        width: calc(1.5rem + 30px);
    }

    .btn.right-sided {
        width: calc(1.5rem + 1.5*30px);
    }

    .first-name {
        margin-bottom: 20px !important;
    }
}